/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2023, 12:05:46 PM
    Author     : AlanGeovs
*/


.home-cta-2{

    background: url("../images/avatars/13.jpg") rgba(0, 0, 0, .5) no-repeat fixed;
    /*background-color:  #6500CC;*/
}
.home-cta-1-azul{     background: url("../images/bg/bg-echomusic-Eventos-artistas-Azul-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;   }
.home-cta-1-azul h2{    color:white; }
.home-cta-2-azul{     background: url("../images/bg/bg-echomusic-2-azul-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-2-azul h2{    color:white; }
.home-cta-3-azul{     background: url("../images/bg/bg-echomusic-3-azul-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-3-azul h2{    color:white; }
.home-cta-1-naranja { background: url("../images/bg/bg-echomusic-1-naranja-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;   }
.home-cta-1-naranja h2{    color:white; }
.home-cta-2-naranja { background: url("../images/bg/bg-echomusic-2-naranja-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-2-naranja h2{    color:white; } 
.home-cta-3-naranja { background: url("../images/bg/bg-echomusic-Crowfounding-ok-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;   }
.home-cta-3-naranja  h2{    color:white; }
.home-cta-1-morado {  background: url("../images/bg/bg-echomusic-1-morado-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-1-morado  h2{    color:white; }
.home-cta-2-morado {  background: url("../images/bg/bg-echomusic-artistaproductor-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-2-morado  h2{    color:white; }
.home-cta-3-morado {  background: url("../images/bg/bg-echomusic-3-morado-min.jpg") rgba(0, 0, 0, .5) no-repeat ; background-size: 100% 100%;    }
.home-cta-3-morado  h2{    color:white; }
.home-cta-gris { background-color: #EDEDED;     }
.home-cta-gris .section-title  h2{    color:#FF6600; }
  .perfil{      
      height: 50px;
      left: -65px;
      position: absolute;
      width: 50px;
      border-radius: 50%;
} 


/*Estilos para Tarjetas con slide*/
#myCarousel {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}  


.carousel-indicators {
    margin-bottom: -20px;
}

.carousel-indicators button[data-bs-target] {
    width: 200px;

}
/*Cambar eso*/
 .carousel-caption {
     bottom: 3.25rem;
 }
 .carousel-caption h4{
    font-size: 2.5em;
    color: #fff;
    font-family: 'Noto Sans',"Catamaran", sans-serif;
    font-weight: 900;
}

/*Imágenes  recortadas para eventos*/

.imgEvent{
  display: inline-block;
   /*margin:5px;
  float:left;
 background-image: url('https://images.pexels.com/photos/4681107/pexels-photo-4681107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.tamano-1{
  width:420px;
  height:420px;
}
 
.tamano-2{
  width:140px;
  height:190px;
}
.tamano-3{
  width:140px;
  height:230px;
}
.tamano-4{
  width:150px;
  height:210px;
}

/*Imágenes para Eventos de Artistas Responsiva*/
/* Estilo por defecto para desktop */
img.responsiveEveArtista {
    width: 200px;
    height: 200px;
    max-width: 100%; 
}

/* Estilo para tablets */
@media screen and (max-width: 768px) {
    img.responsiveEveArtista {
        width: 150px;
        height: 150px;
        max-width: 100%; 
    }
}

/* Estilo para móviles */
@media screen and (max-width: 480px) {
    img.responsiveEveArtista {
        width: 180px;
        height: 180px;
        max-width: 100%; 
    }
}

/*Imágenes para Artistas Responsiva*/
/* Estilo por defecto para desktop */
img.responsiveArtista {
    width: 466px;
    max-width: 100%;
    height: auto;
}

/* Estilo para tablets */
@media screen and (max-width: 768px) {
    img.responsiveArtista {
        width: 400px;
        max-width: 100%;
        height: auto;
    }
}

/* Estilo para móviles */
@media screen and (max-width: 480px) {
    img.responsiveArtista {
        width: 306px;
        max-width: 100%;
        height: auto;
    }
}


.home-contact-area .form-group {
    margin-bottom: 1px;
}

.home-contact-area  .texto-fechas {
    text-align: center; 
    color: grey;
    margin-bottom: 10px;
}

.home-contact-area .content input.form-control { 
    margin-bottom: 2px;  
}

.home-contact-area .section-title{
    margin: -8px auto 20px;
}


 .textoCorto {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-title{
    margin: -8px auto 10px;
}


/*Alto para VIdeo de Artistas*/
/* Clase para el div */
.altoVideo {
    height: 330px; /* Altura por defecto para desktop */
}

/* Para laptops (suponiendo que la pantalla tiene menos de 1024px) */
@media screen and (max-width: 1024px) {
    .altoVideo {
        height: 300px; 
    }
}

/* Para tablets (suponiendo que la pantalla tiene menos de 768px) */
@media screen and (max-width: 768px) {
    .altoVideo {
        height: 290px;
    }
}

/* Para celulares (suponiendo que la pantalla tiene menos de 480px) */
@media screen and (max-width: 480px) {
    .altoVideo {
        height: 160px;
    }
}


.tarifasBanner {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))) ;
}


.progress {
    padding-left: 0;
    padding-right: 0;

}